
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/fireworks.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    

</head>
<body>

    <div id="fireworks-template">
        <div id="fw" class="firework"></div>
        <div id="fp" class="fireworkParticle"><img src="~/images/particles.gif" alt="" /></div>
    </div>

    <div id="fireContainer"></div>

    <div id="container" class="container">
        <h1 style="text-align: center" id="display">Practice will start soon...</h1>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/debug.js"></script>*@
    <script src="~/js/SoundManager2.js"></script>
    <script src="~/js/fireworks.js"></script>
    <script src="~/js/student.js"></script>

</body>



</html>

